.home-page
  &__costs
    .horizontal-line
      &:before
        right: -25px
  &__operations
    &-item
      .date
        font-size: 12px
        color: $dark-gray
      .description
        font-size: 16px
      .mark
        font-size: 12px
        -webkit-border-radius: 20px
        -moz-border-radius: 20px
        border-radius: 20px
        text-align: center
        color: $white
      .cost
        font-size: 18px

