<template>
  <q-page>
    <section class="home-page">
      <add-dialog :isOpenedDialog="isOpenedDialog" @emitDialogState="emitDialogState"></add-dialog>
      <div class="row">
        <div class="col-12">
          <div class="home-page__chart">
            <q-card dark>
              <q-card-section>
                <highcharts  :options="options"></highcharts >
              </q-card-section>
            </q-card>
          </div>
          <div class="home-page__costs">
            <hr class="q-mt-none">
            <div class="row q-col-gutter-xl">
              <div class="col-6">
                <div class="wrap flex column q-pr-10 items-end relative-position">
                  <div class="flex items-center horizontal-line cursor-pointer" @click="goToDetailPage">
                    <q-icon name="pie_chart" class="q-pr-sm"></q-icon>
                    <span>Доходы</span>
                    <q-icon name="keyboard_arrow_right" class="icon-mid"></q-icon>
                  </div>
                  <span class="text-h6 text-secondary">{{ $formatter(example1) }}</span>
                </div>
              </div>
              <div class="col-6">
                <div class="wrap flex column">
                  <div class="flex items-center cursor-pointer" @click="goToDetailPage">
                    <q-icon name="pie_chart" class="q-pr-sm"></q-icon>
                    <span>Расходы</span>
                    <q-icon name="keyboard_arrow_right" class="icon-mid"></q-icon>
                  </div>
                  <span class="text-h6 text-secondary">{{ $formatter(example2) }}</span>
                </div>
              </div>
            </div>
            <hr>
            <div class="row q-col-gutter-xl">
              <div class="col-6">
                <div class="wrap flex column q-pr-10 items-end relative-position">
                  <div class="flex items-center horizontal-line cursor-pointer" @click="goToDetailPage">
                    <span>Баланс</span>
                  </div>
                  <span class="text-h6 text-secondary">+{{ $formatter(example3) }}</span>
                </div>
              </div>
              <div class="col-6">
                <div class="wrap flex column">
                  <div class="flex items-center cursor-pointer" @click="goToDetailPage">
                    <span>Текущий остаток</span>
                  </div>
                  <span class="text-h6 text-secondary">+{{ $formatter(example4) }}</span>
                </div>
              </div>
            </div>
            <hr>
          </div>
          <div class="home-page__operations q-pt-xl">
            <div class="row q-row-gutter-md">
              <div class="col-12">
                <div class="flex justify-between items-center q-px-md">
                  <span class="text-subtitle2">Операции</span>
                  <q-btn
                    @click="openDialog"
                    outline
                    round
                    color="teal-8"
                    size="10px"
                    icon="fas fa-plus"
                  />
                </div>
                <hr class="q-mt-sm">
                <q-list separator class="home-page__operations-list q-px-md">
                  <div
                    v-for="(item, i) in operations"
                    :key="i">
                    <q-item-section
                      class="home-page__operations-item"
                      :class="item.mark ? 'q-mb-md' : ''"
                    >
                      <div class="flex justify-between items-center full-width">
                        <div class="flex items-center">
                          <q-icon :name="item.icon" :class="item.color" class="q-pr-md icon-mid"></q-icon>
                          <div class="flex column">
                            <span class="date">{{ $moment(item.date).format('dd, DD MMMM YYYY') }} г.</span>
                            <span class="description q-mb-sm">{{ item.description }}</span>
                            <span :class="item.markBgColor" class="mark">{{ item.mark }}</span>
                          </div>
                        </div>
                        <span class="cost">- {{ $formatter(item.price) }}</span>
                      </div>
                    </q-item-section>
                    <q-separator spaced />
                  </div>
                </q-list>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </q-page>
</template>

<script>
import addDialog from '@/components/AddDialog'
export default {
  name: 'Home',
  components: {
    addDialog
  },
  data: () => ({
    example1: 118832,
    example2: 118832,
    example3: 66333.21,
    example4: 15239.38,
    price: 835,
    operations: [
      {
        icon: 'fas fa-gas-pump',
        iconColor: 'bg-light-green',
        date: '2020-12-10',
        description: 'Топливо',
        mark: '',
        price: 2000,
        markBgColor: 'bg-light-green'
      },
      {
        icon: 'restaurant',
        iconColor: 'text-primary',
        date: '2020-12-8',
        description: 'Еда вне дома',
        mark: 'Макдональдс',
        price: 835,
        markBgColor: 'bg-indigo-9'
      },
      {
        icon: 'fas fa-shopping-basket',
        iconColor: 'text-cyan-9',
        date: '2020-12-7',
        description: 'Продукты питания',
        mark: 'Пятерочка',
        price: 347,
        markBgColor: 'bg-red-13'
      },
      {
        icon: 'fas fa-taxi',
        iconColor: 'bg-pink-10',
        date: '2020-12-5',
        description: 'Транспорт',
        mark: 'Такси',
        price: 240,
        markBgColor: 'bg-pink-10'
      },
      {
        icon: 'fas fa-tshirt',
        iconColor: 'bg-teal-8',
        date: '2020-12-3',
        description: 'Одежда и обувь',
        mark: 'Adidas',
        price: 1890,
        markBgColor: 'bg-teal-8'
      },
      {
        icon: 'fas fa-home',
        iconColor: 'bg-teal-8',
        date: '2020-12-2',
        description: 'Дом',
        mark: '',
        price: 17000,
        markBgColor: 'bg-teal-8'
      },
      {
        icon: 'fas fa-shopping-basket',
        iconColor: 'text-cyan-9',
        date: '2020-12-1',
        description: 'Продукты питания',
        mark: 'SPAR',
        price: 1423,
        markBgColor: 'bg-red-13'
      }
    ],
    options: {
      chart: {
        height: 300,
        backgroundColor: null
      },
      title: {
        style: {
          color: '#26A69A'
        },
        text: 'Расходы <br> в этом месяце',
        align: 'center',
        verticalAlign: 'middle',
        y: 70
      },
      tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
      },
      accessibility: {
        point: {
          valueSuffix: '%'
        }
      },
      plotOptions: {
        pie: {
          dataLabels: {
            enabled: true,
            distance: -50,
            style: {
              color: 'white'
            }
          },
          startAngle: -120,
          endAngle: 120,
          center: ['50%', '75%'],
          size: '130%'
        }
      },
      series: [{
        type: 'pie',
        name: 'Browser share',
        innerSize: '50%',
        data: [
          ['Chrome', 58.9],
          ['Firefox', 13.29],
          ['Internet Explorer', 13],
          ['Edge', 3.78],
          ['Safari', 3.42],
          {
            name: 'Other',
            y: 7.61,
            dataLabels: {
              enabled: false
            }
          }
        ]
      }],
      credits: {
        enabled: false
      }
    },
    isOpenedDialog: false
  }),
  computed: {
  },
  methods: {
    goToDetailPage () {
      console.log('Go to detail page!')
    },
    openDialog () {
      this.isOpenedDialog = true
    },
    emitDialogState () {
      this.isOpenedDialog = false
    }
  }
}
</script>
