<template>
  <q-dialog
    v-model="dialog"
    :maximized="maximizedToggle"
    transition-show="slide-up"
    transition-hide="slide-down"
    @hide="closeDialog"
  >
    <q-card class="full-width full-height">
      <span class="text-h6 text-center block q-mt-lg">Раходы</span>
      <q-form
        @submit.native.prevent
        class="q-pa-md"
      >
        <q-input
          class="q-mb-sm"
          clear-icon="close"
          autofocus
          clearable
          label="Сумма"
          v-model="model.count"
          dark>
          <template v-slot:before>
            <q-icon class="icon-mid" name="fas fa-ruble-sign"></q-icon>
          </template>
        </q-input>
        <q-select
          class="q-mb-sm"
          label="Выберите категорию"
          transition-show="scale"
          transition-hide="scale"
          v-model="model.categoryValue"
          :options="this.categories"
        >
          <template v-slot:before>
            <q-icon name="fas fa-hand-holding-medical"></q-icon>
          </template>
          <template v-slot:selected-item="scope">
            <q-chip
              removable
              dense
              @remove="scope.removeAtIndex(scope.index)"
              :tabindex="scope.tabindex"
              color="white"
              text-color="secondary"
              class=""
            >
              <q-avatar color="secondary" text-color="white" :icon="scope.opt.icon" />
              {{ scope.opt.label }}
            </q-chip>
          </template>
          <template v-slot:option="scope">
            <q-item
              v-bind="scope.itemProps"
              v-on="scope.itemEvents"
            >
              <q-item-section avatar>
                <q-icon class="icon-small" :name="scope.opt.icon"></q-icon>
              </q-item-section>
              <q-item-section>
                <span>{{ scope.opt.label }}</span>
              </q-item-section>
            </q-item>
          </template>
        </q-select>
        <div class="date-wrapper q-mb-sm">
          <q-input label="Выберите дату" v-model="model.date">
            <template v-slot:before>
              <q-icon name="event"></q-icon>
            </template>
            <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
              <q-date
                :locale="localeCalendar"
                v-model="model.date"
                first-day-of-week="1"
                mask="DD.MM.YYYY">
                <div class="row items-center justify-end">
                  <q-btn v-close-popup label="Закрыть" color="primary" flat />
                </div>
              </q-date>
            </q-popup-proxy>
          </q-input>
        </div>
        <q-select
          class="q-mb-sm"
          clearable
          use-input
          label="Выберите метку"
          transition-show="scale"
          dropdown-icon="fas fa-angle-right"
          transition-hide="scale"
          new-value-mode="add-unique"
          @filter="filterFn"
          v-model="model.markValue"
          :options="searchedArr"
        >
          <template v-slot:before>
            <q-icon name="fas fa-circle"></q-icon>
          </template>
          <template v-slot:no-option>
            <q-item>
              <q-item-section class="text-grey">
                No results
              </q-item-section>
            </q-item>
          </template>
        </q-select>
        <q-btn outline rounded color="teal-6" class="full-width q-mt-lg" @click="save" label="Сохранить"/>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'AddDialog',
  props: ['isOpenedDialog'],
  data: () => ({
    model: {
      date: '',
      count: '',
      categoryValue: {
        label: 'Без категории',
        value: 0,
        icon: 'fas fa-ban'
      },
      markValue: ''
    },
    dialog: false,
    maximizedToggle: false,
    localeCalendar: {
      days: 'Воскресенье_Понедельник_Вторник_Среда_Четверг_Пятница_Суббота_Воскресенье'.split('_'),
      daysShort: 'Вс_Пн_Вт_Ср_Чт_Пт_Сб'.split('_'),
      months: 'Январь_Февраль_Март_Апрель_Май_Июнь_Июль_Август_Сентябрь_Октябрь_Ноябрь_Декабрь'.split('_'),
      monthsShort: 'Янв_Фев_Мар_Апр_Май_Июн_Июл_Авг_Сен_Окт_Ноя_Дек'.split('_')
    },
    searchedArr: []
  }),
  computed: {
    ...mapState('costs', [
      'categories',
      'marksList'
    ])
  },
  mounted () {
    this.model.date = this.$moment().format('DD.MM.YYYY')
  },
  methods: {
    save () {
      console.log('save')
    },
    closeDialog () {
      this.dialog = false
      this.$emit('emitDialogState', this.dialog)
    },
    filterFn (val, update, abort) {
      update(() => {
        const needle = val.toLowerCase()
        this.searchedArr = this.marksList.filter(item => item.label.toLowerCase().includes(needle))
      })
    }
  },
  watch: {
    isOpenedDialog (nV) {
      if (nV) {
        this.dialog = true
      }
    }
  }
}
</script>
