@import 'quasar.variables'
@import 'sizes'
@import 'position'


.container
  width: 1200px
  max-width: 100%
  margin: auto
  .horizontal-line
    &:before
      content: ''
      position: absolute
      top: 0
      bottom: 0
      right: 0
      width: 1px
      background: $white


@import 'pages/home-page'
