<template>
  <q-layout view="lHh lpR fFf">

    <q-header elevated class="bg-primary text-white">
      <q-toolbar>
        <q-btn dense flat round icon="menu" @click="left = !left" />

        <q-toolbar-title>
          Title
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer :mini="switchMode"
              show-if-above
              v-model="left"
              side="left"
              bordered>
      <q-toolbar class="bg-primary text-white shadow-2">
        <q-toolbar-title v-if="!switchMode">Menu</q-toolbar-title>
        <q-toolbar-title class="text-center" v-else>
          <q-icon name="monetization_on"></q-icon>
        </q-toolbar-title>
      </q-toolbar>

      <q-list>
        <q-item v-for="(item, i) in routes" :key="i" clickable v-ripple>
          <q-item-section avatar>
            <template v-if="switchMode">
              <q-icon color="primary" :name="item.icon" />
              <q-tooltip
                anchor="center right"
                self="center left"
                :offset="[30, 0]"
                transition-show="flip-right"
                transition-hide="flip-left"
              >
                {{ item.name }}
              </q-tooltip>
            </template>
            <q-icon v-else color="primary" :name="item.icon" />
          </q-item-section>

          <q-item-section>{{ item.name }}</q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container class="container">
      <router-view />
    </q-page-container>

    <q-footer bordered class="bg-blue-grey-14 text-white">
      <q-toolbar>
        <q-toggle
          v-model="minModeValue"
          label="switch mode"
          class="mobile-hide"
        />
        <q-toolbar-title class="text-center">
          Cash App
        </q-toolbar-title>
      </q-toolbar>
    </q-footer>

  </q-layout>
</template>

<script>
export default {
  data: () => ({
    left: false,
    miniState: true,
    minModeValue: true
  }),
  computed: {
    routes () {
      return this.$router.options.routes
    },
    switchMode: {
      get () {
        return this.minModeValue
      },
      set (value) {
        this.miniState = value
      }
    }
  }
}
</script>
